terratowns_endpoint="https://terratowns.cloud/api"
empires = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/empires"
  content_version = 1 
}
munch = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/munch"
  content_version = 1 
}